<h1>People#show</h1>
<h1><%= @person.first_name %></h1>
<h4><%= @person.last_name %></h1>
<p><%= @person.age %></p>
<p><%= @person.hair_color %></p>
<p><%= @person.eye_color %></p>
<p><%= @person.gender %></p>
<p><%= @person.alive %></p>
<%= link_to 'Back', people_path %>




